body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

#linktag {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 3px 1px 0px #2f6627;
}
#linktag:hover {
  background-color: #5cbf2a;
}
#linktag:active {
  position: relative;
  top: 1px;
}

p {
  padding: 10px;
}

.ps {
  border: 1px solid black;
}

.form-input {
  border: 1px solid black;
}

#black {
  color: white;
}

.header {
  width: 100%;
  height: 125px;
  background: #ff6633;
  border-radius: 10px;
  border: 1px solid #eb521f;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

#contentliquid {
  float: left;
  width: 100%;
}

#contentwrap {
  width: 100%;
  float: left;
}

.links {
  background: #fff957;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . .";
  grid-area: links;
}

#footerwrap {
  width: 100%;
  float: left;
  margin: 0 auto;
  clear: both;
}

#footer {
  height: 20px;
  background: #ff9436;
  border-radius: 10px;
  border: 1px solid #eb8022;
  margin: 5px;
}

.submit {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.submit:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.submit:active {
  position: relative;
  top: 1px;
}

#linkbutton {
  box-shadow: inset 0px 1px 7px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 6px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}
#linkbutton:hover {
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color: #68a54b;
}
#linkbutton:active {
  position: relative;
  top: 1px;
}

@media only screen and (max-device-width: 480px) {
  .header {
    width: 100%;
    height: 250px;
    background: #ff6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
  }
  .links {
    background: #fff957;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
  }
  .ps {
    width: 100%;
  }
}
